{:kotoba.app/id "cloud.itonami.isic-0170", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibqmhazxx5eefb4pgx7xisre5gggwefn4tb6pdt5sck4ivn2j2gbe", :kotoba.app/embed-url "ipfs://bafkreibqmhazxx5eefb4pgx7xisre5gggwefn4tb6pdt5sck4ivn2j2gbe", :published {:archive "https://kotobase.net/ipfs/bafkreibqmhazxx5eefb4pgx7xisre5gggwefn4tb6pdt5sck4ivn2j2gbe", :size 72597, :put-status 201, :get-status 200, :at "2026-08-15T13:36:19.414Z"}}
